**/*.zip
data/sv-results/**
data/sv-comp/**
data/sv-benchmarks/**
data/graphs/*
data/graphs21/*
data/raw21/*
data/**.npz
data/**.smt2
data/klee-results.csv
data/klee-results.json
paperSummaries
qualsIdea
src/data_handlers/*.png
src/data_handlers/*.csv
data/**.html
data/**.xml
**/__pychache__/*