[submodule "src/graph-builder"]
	path = src/graph-builder
	url = git@github.com:will-leeson/graph-builder.git

[submodule "SubmoduleTestRepo"]
    path = data/sv-benchmarks
    url = git@github.com:sosy-lab/sv-benchmarks.git
    branch = svcomp18